<!DOCTYPE HTML>
<html>
    <head>
        <title>Repository</title>
        <link rel="icon" href="/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <a href="https://github.com/ShnAlmighty/nodejs-weather-app" style="text-decoration: none;    color:#888888;
    margin-right:16px;">Click here to go to the project's Github repository</a>
        </div>
        {{>footer}}
    </body>
</html>